	@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
/*Fonte importada do Google*/
@font-face { /*Fonte usada no titulo*/

	font-family: 'FonteLogo'; /*Nome da fonte*/
	src: url("../_fonts/bubblegum-sans-regular.otf"); /*Busca a fonte usada */
}

body {

	font-family: Arial, sans-serif; /*Deixa o texto nao-serifado*/
	background-color: #dddddd; /*Configuraçao pela tabela de cores usadas em softwares de ediçao de imagens (cinza)*/
	color: rgba(0,0,0,1); /*Configuraçao RED, GREEN, BLUE e ALFA. Alfa e o nivel da transparencia (0=opaco e 1 transparente)*/
}


div#interface {

	width: 1200px; /*Delimita a largura da inteface*/
	background-color: #ffffff; /*Faz com que a interface tenha um fundo branco*/
	margin: -20px auto 0px auto; /*Delimita a margem da inteface externa para cima, direita, baixo e esquerda respectivamente*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*Faz um sombreamento no objeto, com a configuraçao de deslocamento lateral, vertical espalhamento da sombra e a cor respectivamente*/
	padding: 10px; /*delimita o espaço interno da interface para cima, direita, baixo e esquerda respectivamente*/
}

p {
	text-align: justify;
	text-indent: 50px;
}

a { /*Os links ficam com a cor cinza-escuro*/

	color: #606060;
	text-decoration: none;
}

a:hover { /*O link fica siblinhado quando passar o mouse por cima*/

	text-decoration: underline;
}

header#cabecalho img#icone { 

	position: absolute;
	left: 1125px;
	top: 70px;
}

header#cabecalho {

	border-bottom: 1px #606060 solid; /*Mostra uma divisao no cabeçalho*/
	height: 150px; /*Especifica a altura da divisao*/
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*Volta uma pasta, carrega uma imagem dentro da pasta _imagens como plano de fundo no cabeçalho e nao deixa repeti-la, deslocando para a lateral e a vertical*/ 
}

header#cabecalho h1 { /*Define o titulo principal*/

	font-family: 'FonteLogo', sans-serif; /*Fonte usada no titulo*/
	font-size: 30pt; /*Tmanho da fonte*/
	color: #606060; /*Cor da fonte*/
	text-shadow: 1px 1px 1px rgba(0,0,0,.6); /*Sombra para o titulo*/
	padding: 0px; /*Espaço interno do titulo*/
	margin-bottom: 0px;/*Define a margem abaixo do titulo*/
}

header#cabecalho h2 { /*Define o subtitulo*/

font-family: Arial, sans-serif;
font-size: 15pt;
color: #888888;
padding: 0px; /*Espaço interno do subtitulo*/
margin-top: 0px; /*Define a margem acima do subtitulo*/
}

/* Formataçao de imagens com legendas */

figure.foto-legenda {

	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {

	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {

	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {

	opacity: 1;
}

/* Formataçao do menu */

nav#menu {

	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 550px;
 
}

nav#menu li {

	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s; /*O tempo para a mudança da cor do fundo do texto e de 1 segundo*/
}

nav#menu li:hover { /*Hover e o efeito que vai ser aplicado quando passar o mouse sobre o texto*/

background-color: #606060; /*Muda o fundo do texto para cinza-escuro quando passar o mouse sobre o texto*/

}

nav#menu h1 {

	display: none;
}	

nav#menu a { /*Todo nav que tenha o id menu e que tenha um link (a)*/

	color: #000000; /*Muda a cor do texto para preto*/
	text-decoration: none; /*Tira o sublinhado do texto*/
}

nav#menu a:hover {

	color: #ffffff; /*Muda o texto para a cor branca quando passar o mouse sobre*/
	text-decoration: underline; /*Mostra o texto sublinhado*/
}

section#corpo { /*configuraçao do conteudo principal do site*/

	display: block; /*Para ser mostrada como um bloco*/
	width: 660px; /*Define a largura*/
	float: left;
	border-right: 1px solid #606060; /*Cria uma borda do lado direito do conteudo principal*/
	padding-right: 15px;
}

article#noticia-principal h2 { /* Formataçao do artigo, formatando todo h2 no texto principal */

	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px; 

}

header#cabecalho-artigo h1 {

	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2 {

	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

.direita { /* Move o texto para a direita */

	text-align: right;
}

header#cabecalho-artigo h3 {

table#tabelaspec  /*Cria as limitaçoes da tabela*/

	border: 1px solid #606060;
	border-spacing: 0px; /*Da um espaço entre as celulas*/
	margin-left: auto; /*Centraliza a tabela automaticamente*/
	margin-right: auto;

} 

table#tabelaspec td { /*Cria bordas dentro da tabela*/

	border: 1px solid #606060;
	padding: 10px; /*Cria um espaço interno dentro da tabela*/
	text-align: center; /*Alinha o texto ao centro*/
	vertical-align: middle; /*Alinha o texto verticalmente*/
}

table#tabelaspec td.ce { /*Formataçao da coluna esquerda*/

	color: #ffffff; /* cor da fonte */
	background-color: #606060; /*Cor do fundo*/
	font-weight: bold; /*Deixa as letrs em negrito*/
}

table#tabelaspec td.cd {

	background-color: #cecece;
}

table#tabelaspec caption {

	color: #888888;
	font-size: 15pt;
	font-weight: bolder;
}

table#tabelaspec caption span {

	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral { /*Configuraçao do conteudo lateral do site*/

	display: block;
	width: 500px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

aside#lateral h1 {

	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2 {

	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
}

footer#rodape { /*configuraçao do rodape*/

	clear: both; /*Limpa a configuraçao do conteudo principal e lateral do site, e faz com que o conteudo do rodape seja mostrado fora da divisao desses dois conteudos*/
	border-top: 1px solid #606060;
}

footer#rodape p {

	text-align: center;
}